<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container { max-width: 560px; }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>내가 쓴 글</h2>
    </div>

    <hr class="my-4">

    <div th:if="${posts.isEmpty()}">
        <p>작성한 게시글이 없습니다.</p>
    </div>

    <div th:unless="${posts.isEmpty()}">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}">게시글 ID</td>
                <td><a th:href="@{|/posts/${post.id}|}"
                       th:text="${post.title}">제목</a>
                </td>
                <td th:text="${post.author}">작성자</td>
                <td th:text="${post.createdDate}">작성일</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>